# Хэш с ресурсами проектов
use strict;
use utf8;

list => [
	{
		prj => 'Project 1',
		enabled => 1,
		info => 'Main page',
		url => 'https://main.project1.space',
	},
	{
		prj => 'Project 1',
		enabled => 0,
		info => 'Some page',
		url => 'https://some.project1.space',
	},
	{
		prj => 'Project 2',
		enabled => 1,
		info => 'Main of Project 2',
		url => 'https://main.project2.space',
		user	=> 'nagios',
		pass	=> 'nagios',
	},
	{
		prj => 'Project 3',
		enabled => 1,
		info => 'Main of Project 3',
		url => 'https://main.project3.space/',
		timeout => 180,
		try => 5,
	},
]
